*{
    margin: 0;
}
body{
    background-color: lavender;
}
.app{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.app_header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}.app_header_h1{
    color:blue;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 1000;
}
.app_dropdown{
    background-color: #fff;
    border-radius: 5px;
}
.app_left{
    flex: 0.9;
}
.app_status{
    display: flex;
    justify-content: space-between;
}
.app_right{
    display: flex;
    flex-direction: column;
}
.app_right .MuiCardContent-root{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.app_graph{
    flex:1;
}
.app_graph_title{
    margin: 20px 0 20px 0;
}
.app_live{
    color:red;
}
@media(max-width:900px){
    .app{
        flex-direction: column;
    }
}